* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Segoe UI", sans-serif;
}

header {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "lo h1 h1 h1 na";
  gap: 15px;
  align-items: center;
}

#logoEscalagou {
  grid-area: lo;
  width: 100%;
  height: auto;
}

h1 {
  grid-area: h1;
  margin: 25px;
  text-align: center;
}

ul {
  list-style: none;
}

nav {
  grid-area: na;
}

nav ul {
  display: flex;
  justify-content: right;
}

nav ul li {
  background-color: #212529;
  padding: 10px;
  border-radius: 15px;
  max-width: 100%;
  text-align: center;
  margin: 10px;
}

a {
  color: #f0f9ff;
  text-decoration: none;
}

.slogan {
  margin: 30px;
  text-shadow: 0 0 0 blue;
}

body {
  margin: 0 auto;
  padding: 15px;
}

main {
  display: grid;
}

footer {
  color: #f0f9ff;
  background-color: #212529;
  margin: 100px 0;
}

.socialNetwork {
  display: flex;
  justify-content: center;
}

.socialNetwork li {
  margin: 15px;
}

.socialNetwork img {
  vertical-align: middle;
  margin: 5px;
}

/* Contact */

label {
  color: rgb(144, 17, 22);
  margin-bottom: 5px;
}

input {
  width: auto;
  padding: 10px;
  margin-bottom: 15px;
  border-width: 1px;
  border-radius: 15px;
}

textarea {
  padding: 10px;
  border-width: 1px;
  border-radius: 15px;
}

#envoyer {
  color: #f0f9ff;
  box-shadow: 0 5 0 black;
  border-color: #f0f9ff;
  border-width: 1px;
  border-radius: 15px;
  background-color: rgb(33, 37, 41);
}
