* {
  margin: 0;
  padding: 0;
}

html {
  /* background-image: url("/img/salleEscalagou.jpg"); */
  font-family: "Segoe UI", sans-serif;
}

header {
  margin-bottom: 50px;
  display: flex;
  justify-content: ;
}

#logoEscalagou {
  width: 50%;
  height: auto;
}

h1 {
  font-family: ;
  margin: 25px;
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
  justify-content: right;
}

nav ul li {
  background-color: #212529;
  padding: 10px;
  border-radius: 15px;
  max-width: 10%;
  text-align: center;
  margin: 10px;
  :hover ;
}

a {
  color: #f0f9ff;
  text-decoration: none;
}

.slogan {
  margin: 30px;
  text-shadow: 0 0 0 blue;
}

body {
  margin: 0 auto;
  padding: 15px;
}

main {
  display: grid;
}

footer {
  color: #f0f9ff;
  background-color: #212529;
  margin: 100px 0;
}

.socialNetwork {
  display: flex;
  justify-content: center;
}

.socialNetwork li {
  margin: 15px;
}

.socialNetwork img {
  vertical-align: middle;
  margin: 5px;
}
