* {
  margin: 0;
  padding: 0;
}

html {
  background-image: url("/img/salleEscalagou.jpg");

}

header {
  margin-bottom: 50px;

}

h1 {
  margin: 25px;
}

ul {
  list-style: none;
}

nav ul {
  list-style: none;
  display: flex;s
  
}

nav ul li {
  font-family: "Segoe UI", sans-serif;
  background-color: rgb(34, 32, 30);
  padding: 10px;
  border-radius: 15px;
  margin: 10px;
  :hover
}

nav a {
  color: white;
  text-decoration: none;
  
}

.slogan {
  margin: 30px;
  text-shadow: 0 0 0 blue;
}


body {
    margin: 0 auto;
  padding: 15px;
}

main {
  display: grid;
}

footer {
  margin: 50 0;
}
